<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/AdminBookings.css">
    <link rel="icon" type="image/png" href="/img/Logo/logo_colours.png">
    <title>Bookings</title>
</head>

<body>
    <div class="container-fluid main-wrapper">
        <!-- Sidebar -->
        <div class="row">
            <div class="col-2 sidebar">
                <div class="logo">
                    <img src="/img/Logo/white.png" alt="">
                </div>
                <div class="calendar-btn-wrapper">
                    <a href="/api/calendar" class="calendar-btn">
                        <span class="material-icons">
                            event_available
                        </span>
                        <p>Calendar</p>
                    </a>
                </div>
                <div class="sidebar-nav-links">
                    <a href="/api/QR/adminbooking" class="active-link">
                        <span class="material-icons">
                            grid_view
                        </span>
                        <p>Booking Records</p>
                    </a>
                    <a href="/api/adminroom">
                        <span class="material-icons">
                            library_books
                        </span>
                        <p>Room</p>
                    </a>
                    <a href="/api/transaction">
                        <span class="material-icons">
                            person_outline </span>
                        <p>Transaction Records</p>
                    </a>

                    <a href="/api/QR">
                        <span class="material-icons">
                            qr_code_2 </span>
                        <p>Change QR Code</p>
                    </a>
                </div>
                <div class="admin-profile">
                    <div class="iconWrapper">

                        <span class="material-icons profileImg">
                            account_circle
                        </span>
                    </div>
                    <div class="adminDetails">
                        <h4 id="adminName"></h4>
                        <p>Admin</p>
                    </div>
                </div>
                <div class="logout-btn-wrapper">

                    <button class="logout-btn">
                        <span class="material-icons">
                            logout
                        </span>
                        <p>Logout</p>
                    </button>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-10 contentWrapper p-0">
                <!-- Header -->
                <div class="header">
                    <div class="menuWrapper">
                        <label for="">
                            <span class="material-icons">
                                menu
                            </span>
                        </label>
                    </div>
                </div>
                <div class="search-wrapper">
                    <div class="search-component col-6">
                        <input type="text" class="search-input col-11 searchInput" id="searchInput"
                            placeholder="Search..." oninput="handleSearch()">
                        <span class="material-icons search-icon">
                            search
                        </span>
                    </div>

                </div>

                <!-- Cards -->
                <div class="row cards-row card-wrapper">
                    <div class="col-3 mainCard">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-icon">
                                    <span class="material-icons-outlined stat-icon">
                                        bookmarks
                                    </span>
                                    <h5 id="bookingNum" class="card-number"></h5>
                                </div>
                                <div class="card-stats">
                                    <p class="card-name">Total Booking</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-icon">
                                    <span class="material-icons stat-icon small">
                                        bed
                                    </span>
                                    <h5 id="roomNum" class="card-number"></h5>
                                </div>
                                <div class="card-stats">
                                    <p class="card-name">Types of Rooms</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-icon">
                                    <span class="material-icons-outlined stat-icon">
                                        event_available
                                    </span>
                                    <h5 id="totalRoom" class="card-number">16</h5>
                                </div>
                                <div class="card-stats">
                                    <p class="card-name">Total Rooms</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-icon">
                                    <span class="material-icons-outlined stat-icon small">
                                        room_service
                                    </span>
                                    <h5 class="card-number">24/7</h5>
                                </div>
                                <div class="card-stats">
                                    <p class="card-name">Services</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- bookings -->
                <div id="mainDiv" class="row cards-row card-wrapper">
                    <!-- <div class="col-6 booking-card" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <div class="card-booking">
                            <div class="card-body-booking">
                                <div class="reservation-number">
                                    <p><strong class="bold-info">Reservation Number:</strong><strong
                                            class="mainInfo">TPR12345</strong></p>
                                </div>
                                <div class="booking-info">
                                    <div class="ms-3">

                                        <p><strong class="bold-info">Name:</strong><strong class="mainInfo"> Tandin
                                                Dorji</strong></p>
                                        <p><strong class="bold-info">Check in:</strong><strong class="mainInfo">
                                                22/7/2023</strong></p>
                                        <p><strong class="bold-info">Room Type:</strong><strong class="mainInfo"> Deluxe
                                                Room</strong></p>
                                    </div>
                                    <div>
                                        <p><strong class="bold-info">Email:</strong><strong class="mainInfo">
                                                tdorji@gmail.com</strong></p>
                                        <p><strong class="bold-info">Check out:</strong><strong class="mainInfo">
                                                24/7/2023</strong></p>
                                        <p><strong class="bold-info">Number of Rooms:</strong><strong class="mainInfo">
                                                2</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- popup for more information -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered custom-modal-width">
                            <div class="modal-content">
                                <div class="modal-body popup-body">
                                    <h5 class="popup-title">Booking Details</h5>
                                    <div class="line"></div>
                                    <div class="left-column text-left reservation-number-popup">
                                        <p class="popup-des m-0 pe-2">Reservation Number :</p>
                                        <p id="modalReservationID" class="popup-info m-0">TPR12345</p>
                                    </div>
                                    <div class="popup-top mt-3 mb-2">
                                        <div class="left-column">
                                            <p class="popup-des">Name:</p>
                                            <p id="modalName" class="popup-info">Tandin Dorji</p>
                                        </div>
                                        <div class="left-column">
                                            <p class="popup-des">Contact Number:</p>
                                            <p id="modalContact" class="popup-info">17728378</p>
                                        </div>
                                        <div class="left-column">
                                            <p class="popup-des">Email:</p>
                                            <p id="modalEmail" class="popup-info">tdorji@gmail.com</p>
                                        </div>
                                    </div>

                                    <div class="line"></div>
                                    <div class="modal-body popup-body mb-0">
                                        <h5 class="popup-title subtitle">Room Details</h5>

                                        <div class="left-column text-left reservation-number-popup">
                                            <p class="popup-des m-0 pe-2">Number of Rooms(Type) :</p>
                                            <p id="modalRoomTypeNum" class="popup-info">USD 800</p>
                                        </div>
                                        <div class="popup-top mt-1">
                                            <div class="left-column">
                                                <div>
                                                    <p class="popup-des">Room type:</p>
                                                    <p id="modalRoomType" class="popup-info">Deluxe Room</p>
                                                </div>
                                                <div>
                                                    <p class="popup-des">Number of Rooms :</p>
                                                    <p id="modalTotalRoom" class="popup-info">2 Rooms</p>
                                                </div>
                                                <div>
                                                    <p class="popup-des">Transaction ID:</p>
                                                    <p id="modalTransactionID" class="popup-info mb-0">18882378782</p>
                                                </div>

                                            </div>
                                            <div class="left-column">
                                                <div>
                                                    <p class="popup-des">Adults:</p>
                                                    <p id="modalAdults" class="popup-info">2 Adults</p>
                                                </div>
                                                <div>
                                                    <p class="popup-des">Total Amount:</p>
                                                    <p id="modalTotalAmount" class="popup-info">USD 800</p>
                                                </div>
                                            </div>
                                            <div class="left-column">
                                                <div>
                                                    <p class="popup-des">Children(Below 6):</p>
                                                    <p id="modalMinor" class="popup-info">1 Children</p>
                                                </div>

                                                <div>
                                                    <p class="popup-des">Children(6-12):</p>
                                                    <p id="modalChild" class="popup-info">1 Children</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dates-wrapper">
                                        <div class="check-container">
                                            <p class="checkInfo">Check In Date</p>
                                            <div id="modalCheckin" class="check">
                                                <span class="material-icons-outlined check-date">
                                                    event_available
                                                </span>
                                                22/7/2023
                                            </div>
                                        </div>
                                        <div class="check-container">
                                            <p class="checkInfo">Check Out Date</p>
                                            <div id="modalCheckout" class="check">
                                                <span class="material-icons-outlined check-date">
                                                    event_available
                                                </span>
                                                24/7/2023
                                            </div>
                                        </div>
                                    </div>

                                    <div class="button-container">
                                        <button type="button" class="btn btn-danger deleteBtn"
                                            data-bs-dismiss="modal">Delete Booking</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
        <script src="/js/adminBooking.js"></script>
</body>

</html>