<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/Logo/logo_colours.png">

    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid main-wrapper">
        <!-- Sidebar -->
        <div class="row">
            <div class="col-2 sidebar">
                <div class="logo">
                    <img src="/img/Logo/white.png" alt="">
                </div>
                <div class="calendar-btn-wrapper">
                    <a href="/api/calendar" class="calendar-btn active-calendar">
                        <span class="material-icons">
                            event_available
                        </span>
                        <p>Calendar</p>
                    </a>
                </div>
                <div class="sidebar-nav-links">
                    <a href="/api/QR/adminbooking">
                        <span class="material-icons">
                            grid_view
                        </span>
                        <p>Booking Records</p>
                    </a>
                    <a href="/api/adminroom">
                        <span class="material-icons">
                            library_books
                        </span>
                        <p>Room</p>
                    </a>
                    <a href="/api/transaction">
                        <span class="material-icons">
                            person_outline </span>
                        <p>Transaction Records</p>
                    </a>

                    <a href="/api/QR">
                        <span class="material-icons">
                            qr_code_2 </span>
                        <p>Change QR Code</p>
                    </a>
                </div>
                <div class="admin-profile">
                    <div class="iconWrapper">

                        <span class="material-icons profileImg">
                            account_circle
                        </span>
                    </div>
                    <div class="adminDetails">
                        <h4 id="adminName">John Smith</h4>
                        <p>Admin</p>
                    </div>
                </div>
                <div class="logout-btn-wrapper">

                    <button class="logout-btn">
                        <span class="material-icons">
                            logout
                        </span>
                        <p>Logout</p>
                    </button>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-10 contentWrapper p-0">
                <!-- Header -->
                <div class="header">
                    <div class="menuWrapper">
                        <label for="">
                            <span class="material-icons">
                                menu
                            </span>
                        </label>
                    </div>
                    <div class="headerWrapper">
                        <h1>Calendar</h1>
                    </div>
                </div>
                <!-- Header -->
                <!-- Filters -->
                <div class="loading-container" id="loading-container">
                    <div class="loading-spinner"></div>
                </div>
                <div class="filterWrapper loadHide hide">
                    <div class="filter">
                        <h1>Room Type: </h1>
                        <select name="" id="roomType" class="dropdownFilter">
                            <option value="Deluxe Room">Deluxe Room</option>
                            <option value="The Pema Suite">The Pema Suite</option>
                            <option value="The Valley Suite">The Valley Suite</option>
                        </select>
                        <select name="" id="adultNumber" class="dropdownFilter">
                            <option value="Single">Single</option>
                            <option value="Double">Double</option>
                            <option value="Triple">Triple</option>
                        </select>
                    </div>
                </div>
                <!-- Filters -->
                <!-- ་CalendarWrapper -->
                <div class="container-fluid loadHide hide">
                    <div class="row">
                        <!-- Calendar -->
                        <div class="col-8 calendarContainer">
                            <div class="calendar">
                                <div class="monthHeader">
                                    <h1 class="month" id="month"></h1>
                                    <div class="monthToggle">
                                        <span class="material-symbols-outlined" id="prevMonth">
                                            chevron_left
                                        </span>
                                        <span class="material-symbols-outlined" id="nextMonth">
                                            chevron_right
                                        </span>
                                    </div>
                                </div>
                                <div class="dayHeader">
                                    <h2>Monday</h2>
                                    <h2>Tuesday</h2>
                                    <h2>Wednesday</h2>
                                    <h2>Thursday</h2>
                                    <h2>Friday</h2>
                                    <h2>Saturday</h2>
                                    <h2>Sunday</h2>
                                </div>
                                <div class="dayWrapper" id="dayWrapper">
                                </div>

                            </div>
                        </div>
                        <!-- Calendar -->
                        <!-- Side Form -->

                        <!-- Calendar -->
                        <!-- Side Form -->
                        <div class="col-4 formContainer">
                            <div class="formCalendar">
                                <div class="formHeaderWrapper">
                                    <div class="formHeader">
                                        <h2 id="subHeader"></h2>
                                        <h1 id="Header"></h1>
                                    </div>
                                    <div class="dateWrapper">
                                        <div class="date">
                                            <label for="">Start Date</label>
                                            <input type="date" id="startDate">
                                        </div>
                                        <div class="date">
                                            <label for="">End Date</label>
                                            <input type="date" id="endDate">
                                        </div>
                                    </div>
                                    <div class="submitBtn">
                                        <button id="selectBtn">Select Dates</button>
                                    </div>
                                    <div class="verificationWrapper hide" id="warning">
                                        <span class="material-symbols-outlined">
                                            error
                                        </span>
                                        <p>Please enter both dates!</p>
                                    </div>
                                </div>
                                <div class="updateFormWrapper hide" id="updateForm">
                                    <div class="availabilityWrapper">
                                        <h1>Availability</h1>
                                        <div class="updateField">
                                            <label for="">Rooms: </label>
                                            <input type="number" id="roomAvailable" min="0">
                                        </div>
                                    </div>
                                    <div class="priceWrapper">
                                        <h1>Rate Plan</h1>
                                        <div class="updateField">
                                            <label for="">Price(Nu): </label>
                                            <input type="number" id="roomPrice">
                                        </div>
                                    </div>
                                    <div class="buttonWrapper">
                                        <button id="reset">Reset</button>
                                        <button id="confirm">Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Side Form -->
                    </div>

                </div>
            </div>

        </div>
        <!-- Sidebar -->

    </div>


    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/calendar.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>