<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/Logo/logo_colours.png">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/Dashboardroom.css">
    <title>Rooms</title>
</head>

<body>
    <div class="container-fluid main-wrapper">
        <!-- Sidebar -->
        <div class="row">
            <div class="col-2 sidebar">
                <div class="logo">
                    <img src="/img/Logo/white.png" alt="">
                </div>
                <div class="calendar-btn-wrapper">
                    <a href="/api/calendar" class="calendar-btn">
                        <span class="material-icons">
                            event_available
                        </span>
                        <p>Calendar</p>
                    </a>
                </div>
                <div class="sidebar-nav-links">
                    <a href="/api/QR/adminbooking">
                        <span class="material-icons">
                            grid_view
                        </span>
                        <p>Booking Records</p>
                    </a>
                    <a href="/api/adminroom" class="active-link">
                        <span class="material-icons">
                            library_books
                        </span>
                        <p>Room</p>
                    </a>
                    <a href="/api/transaction">
                        <span class="material-icons">
                            person_outline </span>
                        <p>Transaction Records</p>
                    </a>

                    <a href="/api/QR">
                        <span class="material-icons ">
                            qr_code_2 </span>
                        <p>Change QR Code</p>
                    </a>
                </div>
                <div class="admin-profile">
                    <div class="iconWrapper">

                        <span class="material-icons profileImg">
                            account_circle
                        </span>
                    </div>
                    <div class="adminDetails">
                        <h4 id="adminName"></h4>
                        <p>Admin</p>
                    </div>
                </div>
                <div class="logout-btn-wrapper">

                    <a href="/api/admin/user/logout" class="logout-btn">
                        <span class="material-icons">
                            logout
                        </span>
                        <p>Logout</p>
                    </a>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-10 contentWrapper p-0">
                <!-- Header -->
                <div class="header">
                    <div class="menuWrapper">
                        <label for="">
                            <span class="material-icons">
                                menu
                            </span>
                        </label>
                    </div>
                    <div class="headerWrapper">
                        <h1>Rooms</h1>
                    </div>
                </div>
                <!-- Header -->
                <div class="contents">
                    <div class="content-container">
                        <div class="row">
                            <div class="content-header">
                                Available Rooms
                            </div>
                        </div>
                        <div class="allRooms">

                        </div>
                        <div class="add-QR-btn-container">
                            <button id="addBtn" class="add-QR-btn">
                                <iconify-icon icon="ic:round-plus" width="26"></iconify-icon>
                                Add New
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sidebar -->
    </div>



    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="/js/adminRoom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>