<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" href="/css/template.css">
    <link rel="icon" type="image/png" href="/img/Logo/logo_colours.png">
    <link rel="stylesheet" href="/css/Dashboardroom.css">
    <title>Update Rooms</title>
</head>

<body>
    <div class="container-fluid main-wrapper">
        <!-- Sidebar -->
        <div class="row">
            <div class="col-2 sidebar">
                <div class="logo">
                    <img src="/img/Logo/white.png" alt="">
                </div>
                <div class="calendar-btn-wrapper">
                    <a href="/api/calendar" class="calendar-btn">
                        <span class="material-icons">
                            event_available
                        </span>
                        <p>Calendar</p>
                    </a>
                </div>
                <div class="sidebar-nav-links">
                    <a href="/api/QR/adminbooking">
                        <span class="material-icons">
                            grid_view
                        </span>
                        <p>Booking Records</p>
                    </a>
                    <a href="/api/adminroom" class="active-link">
                        <span class="material-icons">
                            library_books
                        </span>
                        <p>Room</p>
                    </a>
                    <a href="/api/transaction">
                        <span class="material-icons">
                            person_outline </span>
                        <p>Transaction Records</p>
                    </a>

                    <a href="/api/QR">
                        <span class="material-icons ">
                            qr_code_2 </span>
                        <p>Change QR Code</p>
                    </a>
                </div>
                <div class="admin-profile">
                    <div class="iconWrapper">

                        <span class="material-icons profileImg">
                            account_circle
                        </span>
                    </div>
                    <div class="adminDetails">
                        <h4 id="adminName"></h4>
                        <p>Admin</p>
                    </div>
                </div>
                <div class="logout-btn-wrapper">

                    <a href="/api/admin/user/logout" class="logout-btn">
                        <span class="material-icons">
                            logout
                        </span>
                        <p>Logout</p>
                    </a>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-10 contentWrapper p-0">
                <!-- Header -->
                <div class="header">
                    <div class="menuWrapper">
                        <label for="">
                            <span class="material-icons">
                                menu
                            </span>
                        </label>
                    </div>
                    <div class="headerWrapper">
                        <h1>Rooms</h1>
                    </div>
                </div>
                <!-- Header -->
                <div class="contents">
                    <div class="content-container">
                        <div class="room-form-container">
                            <form class="add-room-form">
                                <div class="row col-lg-9 ">
                                    <div class="col-lg-4">
                                        <label for="exampleFormControlInput1" class="form-label">
                                            Enter Room Type</label>
                                    </div>
                                    <div class="mb-3 col-lg-8">
                                        <input id="name" class="form-control" type="text"
                                            aria-label="default input example">
                                    </div>
                                </div>
                                <div class="row col-lg-9 ">
                                    <div class="col-lg-4">
                                        <label for="exampleFormControlInput1" class="form-label">Upload Image</label>
                                    </div>
                                    <div class="mb-3 col-lg-8">
                                        <input id="photo" class="form-control" type="file" id="formFile">
                                    </div>
                                </div>
                                <div class="row col-lg-9 ">
                                    <div class="col-lg-4">
                                        <label for="exampleFormControlInput1" class="form-label">
                                            Room Description</label>
                                    </div>
                                    <div class="mb-3 col-lg-8">
                                        <textarea id="description" class="form-control" id="exampleFormControlTextarea1"
                                            rows="2"></textarea>
                                    </div>
                                </div>
                                <div class="row col-lg-9 ">
                                    <div class="col-lg-4">
                                        <label for="exampleFormControlInput1" class="form-label">
                                            Number of Rooms</label>
                                    </div>
                                    <div class="mb-3 col-lg-8">
                                        <input id="numRooms" class="form-control" type="number"
                                            aria-label="default input example">
                                    </div>
                                </div>
                                <div class="row col-lg-9 ">
                                    <div class="col-lg-4">
                                        <label for="exampleFormControlInput1" class="form-label">
                                            Child Rate</label>
                                    </div>
                                    <div class="mb-3 col-lg-8">
                                        <input id="childRate" class="form-control" type="number"
                                            aria-label="default input example">
                                    </div>
                                </div>
                                <div class="row col-lg-9 ">
                                    <div class="col-lg-4">
                                        <label for="exampleFormControlInput1" class="form-label">
                                            Tax/Fees</label>
                                    </div>
                                    <div class="mb-3 col-lg-8">
                                        <input id="taxRate" class="form-control" type="number"
                                            aria-label="default input example">
                                    </div>
                                </div>
                                <div class="row col-lg-9 ">
                                    <div class="col-lg-4">
                                        <label for="exampleFormControlInput1" class="form-label">
                                            Single Room Price</label>
                                    </div>
                                    <div class="mb-3 col-lg-8">
                                        <input id="singlePrice" class="form-control" type="number"
                                            aria-label="default input example">
                                    </div>
                                </div>
                                <div class="row col-lg-9 ">
                                    <div class="col-lg-4">
                                        <label for="exampleFormControlInput1" class="form-label">
                                            Double Room Price</label>
                                    </div>
                                    <div class="mb-3 col-lg-8">
                                        <input id="doublePrice" class="form-control" type="number"
                                            aria-label="default input example">
                                    </div>
                                </div>
                                <div class="row col-lg-9 ">
                                    <div class="col-lg-4">
                                        <label for="exampleFormControlInput1" class="form-label">
                                            Triple Room Price</label>
                                    </div>
                                    <div class="mb-3 col-lg-8">
                                        <input id="triplePrice" class="form-control" type="number"
                                            aria-label="default input example">
                                    </div>
                                </div>

                                <div class="add-QR-btn-container">
                                    <button id="updateBtn" class="add-QR-btn">
                                        Update
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sidebar -->
    </div>



    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="/js/updateRoom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
</body>

</html>