<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.all.min.js"></script>

    <link rel="icon" type="image/png" href="/img/Logo/logo_colours.png">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/QR.css">
    <title>Update QR</title>
</head>

<body>
    <div class="container-fluid main-wrapper">
        <!-- Sidebar -->
        <div class="row">
            <div class="col-2 sidebar">
                <div class="logo">
                    <img src="/img/Logo/white.png" alt="">
                </div>
                <div class="calendar-btn-wrapper">
                    <a href="/api/calendar" class="calendar-btn">
                        <span class="material-icons">
                            event_available
                        </span>
                        <p>Calendar</p>
                    </a>
                </div>
                <div class="sidebar-nav-links">
                    <a href="/api/QR/adminbooking">
                        <span class="material-icons">
                            grid_view
                        </span>
                        <p>Booking Records</p>
                    </a>
                    <a href="/api/adminroom">
                        <span class="material-icons">
                            library_books
                        </span>
                        <p>Room</p>
                    </a>
                    <a href="/api/transaction">
                        <span class="material-icons">
                            person_outline </span>
                        <p>Transaction Records</p>
                    </a>

                    <a href="/api/QR" class="active-link">
                        <span class="material-icons ">
                            qr_code_2 </span>
                        <p>Change QR Code</p>
                    </a>
                </div>
                <div class="admin-profile">
                    <div class="iconWrapper">

                        <span class="material-icons profileImg">
                            account_circle
                        </span>
                    </div>
                    <div class="adminDetails">
                        <h4 id="adminName"></h4>
                        <p>Admin</p>
                    </div>
                </div>
                <div class="logout-btn-wrapper">

                    <a href="/api/admin/user/logout" class="logout-btn">
                        <span class="material-icons">
                            logout
                        </span>
                        <p>Logout</p>
                    </a>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-10 contentWrapper p-0">
                <!-- Header -->
                <div class="header">
                    <div class="menuWrapper">
                        <label for="">
                            <span class="material-icons">
                                menu
                            </span>
                        </label>
                    </div>
                    <div class="headerWrapper">
                        <h1>Change QR</h1>
                    </div>
                </div>
                <!-- Header -->
                <div class="contents">
                    <div class="content-container">
                        <div id="actionmessage">

                        </div>
                        <form class="add-QR-form" method="POST" action="/api/QR/<%= update._id %>?_method=PATCH"
                            enctype="multipart/form-data">
                            <div class="row col-lg-9">
                                <div class="col-lg-4">
                                    <label for="exampleFormControlInput1" class="form-label">Account Number</label>
                                </div>
                                <div class="mb-3 col-lg-8">
                                    <input class="form-control" type="text" placeholder="123456"
                                        aria-label="default input example" value="<%= update.account_number %>"
                                        name="account_number">
                                </div>
                            </div>
                            <div class="row col-lg-9">
                                <div class="col-lg-4">
                                    <label for="exampleFormControlInput1" class="form-label">QR Picture</label>
                                </div>
                                <div class="mb-3 col-lg-8">
                                    <input class="form-control" type="file" id="formFile"
                                        value="<%= update.QR_pictures %>" name="QR_pictures">
                                </div>
                            </div>
                            <div class="add-QR-btn-container">
                                <button class="add-QR-btn">
                                    Update
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- Sidebar -->
    </div>

    <script defer>
        var status = '<%- JSON.stringify(status) %>';
        if (JSON.parse(status) === "QR Updated Successfully") {
            Swal.fire(
                '',
                'QR Updated Successfully',
                'success'
            ).then(function () {
                setTimeout(function () {
                    window.location.href = "http://localhost:4001/api/QR";
                }, 100); // Delay of 3000 milliseconds (3 seconds)
            });
        }
    </script>


    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
        <script src="/js/QR.js"></script>
</body>

</html>