<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript"></script>
    <meta charset="utf-8">
    <title>Merchant Site</title>
    <style>
        body {
            font-family: Verdana, sans-serif;
            font-size: : 12px;
        }
        
        .wrapper {
            width: 980px;
            margin: 0 auto;
        }
        
        table {}
        
        tr {
            padding: 5px
        }
        
        td {
            padding: 5px;
        }
        
        input {
            padding: 5px;
        }
    </style>

</head>

<body>
    <form action="" method="get">
        <center>
            <H3>Transaction Status </H3>
        </center>
        <br><br><br><br>
        <table>
            <tr>
                <!--PG transaction reference  -->
                <td><label for="one"> Transaction Ref No </label></td>
                <td><label for="one">: <%=TrnRefNo%> </label></td>
                <!-- Merchant Order ID -->
                <td><label for="one"> Order ID </label></td>
                <td><label for="one">: <%=OrderId%> </label></td>

            </tr>

            <tr>
                <!--Bank reference number  -->
                <td><label for="one"> RRN </label></td>
                <td><label for="one">: <%=Rrn%> </label></td>
                <!--AuthZcode -->
                <td><label for="one"> AuthZCode </label></td>
                <td><label for="one">: <%=AuthZCode%> </label></td>
                <!--Response code -->
                <td><label for="one"> Response Code </label></td>
                <td><label for="one">: <%=ResponseCode%> </label></td>

            </tr>
            <tr>
                <!--Transaction date time-->
                <td><label for="one"> Transaction Date Time </label></td>
                <td><label for="one">: <%=TrnReqDate%> </label></td>
                <td><label for="one"> Transaction Status </label></td>
                <!--Transaction status-->

                <!--Transaction status description-->
                <td><label for="one"> Transaction Status Description </label></td>
                <td><label for="one">: <%=StatusDesc%> </label></td>
            </tr>
           
            <tr>
                
                <td><label for="three"> Transaction Amount</label></td>
                <td><label for="one">: <%=TrnAmt%> </label></td>
            </tr>
            
        </table>
    </form>
</body>

</html>