<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" type="image/png" href="/images/logo_white.png"> -->
    <link rel="icon" type="image/png" href="/img/Logo/logo_colours.png">
    <title>Forgot Password</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/forgotpass.css">

    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body style="background-image: url('/img/images/image.png')">
    <header>
        <img src="/img/Logo/white.png">
    </header>

    <div class="wrapper">
        <div class="form-box login">
            <h2>Reset Password</h2>
            <h4>Please enter your email on which a verification link will be forwarded to reset your password.</h4>
            <form action="/api/forgotPassword/forgot-password" method="POST">
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input id="email" type="mail" required name="email">
                    <label>Email</label>
                </div>
                <p id="message"></p>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>



        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>