<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../public/img/Logo/logo_colours.png">
    <title>Reset Password</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/forgotpass.css">

    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        var status = '<%- JSON.stringify(status) %>';
        if (JSON.parse(status) == "verified") {
            if (confirm("Do u want to login?")) {
                window.location.href = "http://localhost:4001/api/admin/login";
            }
        }
    </script>
</head>

<body style="background-image: url('/img/images/image.png');">
    <header>
        <img src="/img/Logo/white.png">
    </header>

    <div class="wrapper">
        <div class="form-box login">
            <h2>Reset Password</h2>
            <form method="POST">
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" id="password" name="password" required>
                    <label for="password">New Password</label>
                    <!-- <span class="eye-icon" onclick="togglePasswordVisibility()">
                        <ion-icon name="eye"></ion-icon>
                    </span> -->
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" id="conpassword" name="passwordConfirm" required>
                    <label>Confirm Password</label>
                    <!-- <span class="eye-icon" onclick="contogglePasswordVisibility()">
                        <ion-icon name="eye"></ion-icon>
                    </span> -->
                </div>

                <p id="message"></p>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="../../public/js/reset.js"></script>

</body>

</html>