<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./img/Logo/logo_colours.png">
    <title>Payment Method</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/payment.css">
    <link rel="stylesheet" href="/footer/footer.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>

<body>
    <!-- Your HTML content here -->
    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <nav>
        <div class="d-flex justify-content-between nav-main-container">
            <a href="" class="logo">
                <img src="/img/Logo/white.png" alt="">
            </a>
            <!-- <label for="sidebar-toggle">

                <span class="material-symbols-outlined nav-menu">
                    menu
                </span>
            </label> -->
        </div>
        <input type="checkbox" id="sidebar-toggle">
        <!-- <div class="nav-sidebar">
            <label for="sidebar-toggle">

                <span class="close material-symbols-outlined">
                    close
                </span>
            </label>
            <div class="logo">
                <img src="/img/Logo/logo_colours.png" alt="">
            </div>
            <div class="sidebar-details">
                <h1>Contact</h1>
                <p>The Pema by Realm, Thori Lam</p>
                <p>Thimphu, Bhutan</p>
                <p>stay@thepemahotel.com</p>
                <p>(975) 2338888</p>
            </div>
            <div class="sidebar-socials">
                <h2>Follow</h2>
                <div class="sidebar-socials-links">
                    <iconify-icon class="sidebar-icon" icon="ri:facebook-fill"></iconify-icon>
                    <iconify-icon class="sidebar-icon" icon="la:tripadvisor"></iconify-icon>
                    <iconify-icon class="sidebar-icon" icon="mdi:instagram"></iconify-icon>
                </div>
            </div>
        </div> -->

    </nav>

    <div class="mainContainer">

        <div class="container3">
            <h3 class="title">SELECT A PAYMENT METHOD</h3>
            <div class="input-group5">
                <form id="internationalPaymentForm" method="post" action="/api/bookings/meTrnPay">
                    <!-- Add a hidden input field for bookingData -->
                    <input type="hidden" name="bookingData" id="bookingDataInput" value="">
                    <button type="button" class="paymentopt" onclick="submitFormWithBookingData()">
                        PAY WITH INTERNATIONAL CARD
                    </button>
                </form>
            </div>

            <div class="input-group5">
                <form method="get">
                    <a href="/api/bookings/paymentpage" class="paymentopt" type="submit">
                        PAY WITH LOCAL BANK
                    </a>
                </form>
            </div>

        </div>
    </div>

    <div class="footer row">
        <div class="col-lg-4 col-md-4 col-sm-12 footer-items">
            <div class="footer-header">
                CONTACT
            </div>
            <center>
                The Pema by Realm,
                Thori Lam, Thimphu, Bhutan
            </center>
            <div>
                <a href="mailto:stay@thepemahotel.com">
                    stay@thepemahotel.com
                </a>
            </div>
            <div>
                <a href="tel:+2338888"> (975) 2338888
                </a>,
                <a href="tel:+2338888"> (975) 17279401 </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 footer-items">
            <img src="/footer/logo.png" class="footer-logo justify">
            <div>
                Realm Hospitality is a local boutique hotel management company promoting sustainable tourism in Bhutan
                and showcasing the best of authentic local hospitality. Impeccable service, attention to detail, unique
                heritage-contemporary design paired with all the comforts of modern luxury are the hallmarks of The Pema
                by Realm.
            </div>
            <div class="footer-copy-hide">
                Copyright © 2023 The Pema by Realm. ALL RIGHTS RESERVED
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 footer-items">
            <div class="footer-icon">
                <div>
                    <a href="https://www.facebook.com/thepemabyrealm">
                        <iconify-icon icon="devicon:facebook" width="40"></iconify-icon>
                    </a>
                </div>
                <div>
                    <a href="https://www.instagram.com/thepemabhutan/">

                        <iconify-icon icon="skill-icons:instagram" width="40"></iconify-icon>
                    </a>
                </div>
                <div>
                    <a href="https://www.tripadvisor.com/Hotel_Review-g293845-d17479982-Reviews-The_Pema_by_Realm-Thimphu_Thimphu_District.html">

                        <iconify-icon icon="fa-brands:tripadvisor" width="40"></iconify-icon>
                    </a>
                </div>
                <div>
                    <a href="https://api.whatsapp.com/send/?phone=97517279401&text&type=phone_number&app_absent=0">
                        <iconify-icon icon="logos:whatsapp-icon" width="40"></iconify-icon>
                    </a>
                </div>
            </div>
            <div class="footer-copy-show">
                Copyright © 2023 The Pema by Realm. ALL RIGHTS RESERVED
            </div>
        </div>
    </div>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="/public/js/internationalPayment.js"></script>
</body>

</html>