<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reset Email Button</title>
    
        <style>
            body {
                margin: 0 !important;
                font-family: system-ui, 'Helvetica Neue';
                background: #DE9D3B; /* Apply background color to the body */
                 color: #000;
            }
    
            .container {
                width: 100%;
                max-width: 700px;
                height: fit-content;
                margin: auto;
                background: #DE9D3B;
                color: #000;
                padding: 2rem;
                border-radius: 6px;
            }
    
            .nav-bar {
                width: 100%;
                text-align: center;
            }
    
            .hotel-logo {
                width: 100px;
                height: 100px;
                margin: 0 auto;
            }
    
            .reservation-data {
                margin-top: 1.4rem;
                text-align: justify;
            }
    
            .reservationID {
                color: orange;
            }
    
            .footer {
                margin-top: 1rem;
            }
    
            table,
            th,
            td {
                border: 1px solid wheat;
                padding: 5px;
            }
    
            table {
                border: 1px solid wheat;
                border-collapse: collapse;
                width: 100%;
                border-radius: 2px;
            }
    
            .reservationNumber {
                text-align: center;
                font-size: 18px;
            }
        </style>
        </style>
    </head>
    
    <body>
    
        <% if (statusCode !== 'F') { %>
            <div class="container">
                <div class="nav-bar">
                    <img src="http://139.59.46.216/wp-content/uploads/2022/10/Untitled-1.png" class="hotel-logo" alt="Logo">
                    <br><br>
                    <b class="reservationNumber">RESERVATION CONFIRMATION SENT SUCCESSFULLY IN YOUR EMAIL</b>
                </div>
        
                <div class="reservation-data">
                    <p>
                        Dear <%=AuthZCode%> & Group, 
                    </p>
        
                    <p>
                        We are pleased to inform you that the booking details have been successfully sent to your email.
                    </p>
                </div>
                <br>
                <div class="footer">
        
                    <p>
                        For any queries/clarifications, please feel free to contact our Reservation Executive at the below
                        contact
                        details.
                    </p>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    Reservation Executive
                                </td>
                                <td>
                                    Mr. Hem
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Contact Number
                                </td>
                                <td>
                                    <p>
                                        <b> +975-17279401 </b> (mobile / whatsapp available)<br>
                                        <b>+975-2-338888</b> (Hotel Reception Desk)
                                    </P>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
        
            </div>
        <% } else { %>
            <div class="container">
                <div class="nav-bar">
                    <img src="http://139.59.46.216/wp-content/uploads/2022/10/Untitled-1.png" class="hotel-logo" alt="Logo">
                    <br><br>
                    <b class="reservationNumber">We regret to inform you that the transaction has encountered an issue and could not be completed successfully. Try Once again!</b>
                </div>
        
                <br>
                <div class="footer">
        
                    <p>
                        For any queries/clarifications, please feel free to contact our Reservation Executive at the below
                        contact
                        details.
                    </p>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    Reservation Executive
                                </td>
                                <td>
                                    Mr. Hem
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Contact Number
                                </td>
                                <td>
                                    <p>
                                        <b> +975-17279401 </b> (mobile / whatsapp available)<br>
                                        <b>+975-2-338888</b> (Hotel Reception Desk)
                                    </P>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
        
            </div>
        <% } %>
        
    
    
    </body>
    
    </html>
    